/* hybrid  */
/* see also: classic dark  */

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/**
 * HLJS
 */

.hljs,
code[class] {
  display: block;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-code);
  line-height: 1.5;
  overflow-x: auto;
  position: relative;
}

.fenced-code {
  border: 1px solid var(--color-border);
  font-family: var(--font-family-monospace);

  @media screen and (min-width: 1024px) {
    position: relative;
  }

  code {
    @media screen and (max-width: 1023px) {
      padding: 10px 10ch 10px 10px;
    }
    @media screen and (min-width: 1024px) {
      padding: 20px 10ch 20px 20px;
    }
  }

  .fenced-code__filename {
    font-size: var(--font-size-code);
    border-bottom: 1px solid var(--color-border);
    overflow-x: auto;
    width: 100%;

    @media screen and (max-width: 1023px) {
      padding: 10px;
    }
    @media screen and (min-width: 1024px) {
      padding: 10px 20px;
    }
  }

  .fenced-code__filename + .fenced-code__language-name {
    display: none;
  }

  .fenced-code__language-name {
    background-color: var(--color-body-background);
    content: attr(data-language-name);
    font-size: var(--font-size-code-smaller);
    border-color: var(--color-border);
    border-style: solid;
    border-width: 0 0 1px 1px;
    font-family: var(--font-family-monospace);
    padding: 10px 20px;
    pointer-events: none;
    user-select: none;
    z-index: 1;

    @media screen and (min-width: 1024px) {
      border-top-right-radius: 4px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

/**
 * Graphviz
 */

.fenced-graphviz {
  display: none;
}

.fenced-graphviz.fenced-graphviz--rendered {
  display: table;
  width: 100%;
  outline: 1px solid var(--color-border);
  overflow-x: auto;
  table-layout: fixed;
}

.fenced-graphviz__scene {
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 24px;
  text-align: center;
}
